*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/bgpic2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    color: antiquewhite;
}

#create-user{
    background-color: rgb(200, 103, 39);
    padding: 5px;
}

#create-task{
    background-color: rgb(189, 227, 52);
    padding: 5px;
}

#get-task{
    background-color: rgb(135, 65, 183);
    padding: 5px;
}

#get-user{
    background-color: green;
    padding: 5px;
}

#login-user{
    background-color: rgb(105, 228, 197);
    padding: 5px;
}

#logout-user{
    background-color: blueviolet;
    padding: 5px;
}

#delete-user,#delete-task,#delete-avatar{
    background-color:red;
    padding: 5px;
}

#edit-profile,#edit-task{
    background-color: rgb(34, 156, 227);
    padding: 5px;  
}


#signupFormContainer {
    display: none;
    margin-top: 20px;
}

#signupForm {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    color:white;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(152, 152, 223);
}


#loginformcontainer{
    display: none;
    margin-top: 20px;
}

#loginform{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(226, 226, 147);
}

#taskcontainer{
    display: none;
    margin-top: 20px; 
}
#taskForm{
    max-width: 300px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(218, 123, 123);
}

#editFormContainer{
    display: none;
    margin-top: 20px;
}

#edittaskContainer{
    display: none;
    margin-top: 20px;
}

#editForm,#edittaskForm{
    max-width: 300px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(120, 168, 226);
}

#viewprofile{
    display: none;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(198, 198, 179);
}

#viewtasks{
    display: none;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(227, 163, 90);
}

button{
    background-color: rgb(72, 220, 27);
    padding: 5px;
}